 .container {
  margin: 20px auto;
  width: 80%;
  padding: 20px 20px 20px 20px;
  border: 3px solid black;
 }

 .container h1 {
  font-size: 26pt;
  color: #8B2323;
  text-align: center;
 }

/*.background{
    background-color: black
}*/

.well{
  font-family: Arial Rounded MT Bold;
  font-size: 16pt;
}

.form_a{
  text-align: center;
}

.emotions{
  font-family: Arial Rounded MT Bold;

}

 nav {
  font-weight: bold;
 }
ß
 nav ul {
  display: inline-block;
  text-align: right;
 }

 nav li {
  margin-right: 25px;
  display: inline;
 }

 nav li a {
  color: red;
  text-decoration: none;
 }

 nav li a:hover {
  text-decoration: underline;
 }

 .navbar-right{
  float: right;
 }

 input {
  margin-bottom: 10px;
 }






