<div class="container">

  <section class="sidebar">
    <h1>Provide Text to be analyzed</h1>

    <form id="analyzer" action="/" method="post">
      <label for="analyze_text">Enter text to be analyzed</label>
      <input type="text" name="analyze">
      <input type="submit" value="Submit">
    </form>
  </section>

      </div>
    </div>
  </main>
</div>
