<div class="container">

  <section class="sidebar">
    <h1>Provide Text to be analyzed</h1>
    <div class= "form_a">
      <form id="analyzer" action="/" method="post">
        <label for="analyze_text"></label>
        <textarea rows="10" cols="50" name="analyze" placeholder="Enter text to be analyzed"></textarea>

        <br /><br /><input type="submit" value="Submit">
      </form>
    </div>
  </section>

      </div>
    </div>
  </main>
</div>

