<div class="container">
  <h1>Welcome</h1>
  <p>THIS IS MY MVP</p>
<!--   <center> <img src="http://www.whatssociallyacceptable.com/wp-content/uploads/2016/05/twitter-bird-badge-in-white-broken-background.jpg"> </center> -->

  <a href='/sessions/new'>Login</a> |
  <a href='/users/new'>Register</a>

</div>
